html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: greenyellow;
    color: green;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}